[alias]
    amend = commit --amend --no-edit
    amend-all = !git add . && git amend
    create-empty-branch = !git checkout --orphan empty-branch && git reset --hard
    create-empty-master = !git create-empty-branch && echo "Please refer to the upstream repository, as the master branch on this fork is not kept up to date." >> README.md && git add README.md && git commit -m 'Emptying master of fork' && git branch -m empty-master
    rm-merged = !git branch --merged master | grep -v 'master$' | xargs git branch -d
    rr = !git remote rename origin upstream && git remote rename WillMoggridge origin
[branch]
    autosetuprebase = always
[color]
    ui = auto
[core]
    excludesfile = ~/.gitignore_global
[fetch]
	prune = true
[pager]
    branch = false
[pull]
    rebase = true
[push]
    default = simple
[url "git+ssh://willmoggridge@git.launchpad.net/"]
    insteadof = lp:
[url "git+ssh://willmoggridge@git.launchpad.net/~willmoggridge/+git/"]
    insteadof = lpme:
[user]
    email = will@moggridge.com
    name = Will Moggridge
[include]
    path = ~/.gitconfig.local
