[user]
	name = Will Moggridge
	email = will@willmoggridge.com
[push]
	default = simple
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore_global
[branch]
	autosetuprebase = always
[include]
    path = ~/.gitconfig_local
