[alias]
    rm-merged = !git branch --merged master | grep -v 'master$' | xargs git branch -d
    rr = !git remote rename origin upstream && git remote rename WillMoggridge origin
[branch]
    autosetuprebase = always
[color]
    ui = auto
[core]
    excludesfile = ~/.gitignore_global
[fetch]
	prune = true
[push]
    default = simple
[user]
    email = will@moggridge.com
    name = Will Moggridge
[include]
    path = ~/.gitconfig_local
