####################
#################### Keyboard
####################

# Correct keyboard layout please
setxkbmap gb

# Use the CAPS-LOCK key as an additional control
setxkbmap -option "ctrl:nocaps"

# Speed up keyboard input
xset r rate 200 80

# Enable X restart with CTRL-ALT-BACKSPACE
setxkbmap -option terminate:ctrl_alt_bksp

# Custom key mappings
if [ -f ~/.Xmodmap ]; then
 xmodmap ~/.Xmodmap
fi

# Mouse sensitivity, not best method
xset m 2 1


####################
#################### Mouse
####################

# Use a better mouse pointer
xsetroot -cursor_name left_ptr

# Try and get rid of mouse acceleration
#xinput set-prop pointer:"ROCCAT ROCCAT Kone[+]" 'Device Accel Profile' 0
#xinput set-prop pointer:"ROCCAT ROCCAT Kone[+]" 'Device Accel Velocity Scaling' 1



####################
#################### Other
####################

# Set wallpaper (Checking for existence)
if [ -f ~/.wallpaper.png ]
then
   feh --bg-scale ~/.wallpaper.png
elif [ -f ~/.wallpaper.jpg ]
then
   feh --bg-scale ~/.wallpaper.jpg
fi

# Load display settingss
#~/.dotfiles/bin/configure-displays
