source $HOME/.dotfiles/libs/common

# XDG
#export XDG_DATA_DIRS=~/.dotfiles:$XDG_DATA_DIRS

####################
#################### Keyboard
####################

# Correct keyboard layout please
setxkbmap gb

# Use the CAPS-LOCK key as an additional control
setxkbmap -option "ctrl:nocaps"

# Speed up keyboard input
xset r rate 300 100

# Enable X restart with CTRL-ALT-BACKSPACE
setxkbmap -option terminate:ctrl_alt_bksp

# Custom key mappings
if [ -f ~/.Xmodmap ]; then
 xmodmap ~/.Xmodmap
fi


####################
#################### Mouse
####################

if [[ $DESKTOP_SESSION = "i3" ]]; then
    # Use a better mouse pointer
    xsetroot -cursor_name left_ptr

    # Mouse sensitivity, not best method
    is_env desktop && xset m 0.5 0.5
    is_env desktop && xinput --set-prop "pointer:ROCCAT ROCCAT Tyon Black" 'Coordinate Transformation Matrix' 1.0 0.0 0.0  0.0 1.0 0.0  0.0 0.0 2.0
    is_env laptop && xset m 2 1
fi

####################
#################### Other
####################

if [[ $DESKTOP_SESSION = "i3" ]]; then
    # Check for a default screen layout from arandr
    if [ -x $HOME/.screenlayout/default ]
    then
        $HOME/.screenlayout/default
    fi

    # Set wallpaper (Checking for existence)
    if [ -f ~/.wallpaper.png ]
    then
       feh --bg-scale ~/.wallpaper.png
    elif [ -f ~/.wallpaper.jpg ]
    then
       feh --bg-scale ~/.wallpaper.jpg
    fi

    # Load display settingss
    #~/.dotfiles/bin/configure-displays

    # Add Gnome Keyring as the SSH auth if we are in i3
    eval $(gnome-keyring-daemon --start)
    export SSH_AUTH_SOCK GPG_AGENT_INFO GNOME_KEYRING_CONTROL GNOME_KEYRING_PID
    export SSH_AGENT_PID=$GNOME_KEYRING_PID
fi

# Load up settings to use i3-hud-menu
#if [[ $DESKTOP_SESSION = "disabled" ]]; then
#    if [ -n "$GTK_MODULES" ]; then
#      GTK_MODULES="$GTK_MODULES:unity-gtk-module"
#    else
#      GTK_MODULES="unity-gtk-module"
#    fi
#
#    if [ -z "$UBUNTU_MENUPROXY" ]; then
#      UBUNTU_MENUPROXY=1
#    fi
#fi

# Load up monitor to switch between last window in i3
#if [[ $DESKTOP_SESSION = "i3" ]]; then
#    i3-focus-last
#fi
