/* Rofi */
#define r_bg   #1d2021
#define r_hlbg #444444
#define r_fg   #ffffff
#define r_hlfg #d65d0e

! States: bg, fg, bgalt, hlbg, hlfg
rofi.color-enabled: true
rofi.color-normal: r_bg,r_fg,#282828,r_hlbg,r_hlfg
rofi.color-urgent: r_bg,#fb4934,#282828,r_hlbg,r_hlfg
rofi.color-active: r_bg,r_fg,#282828,r_hlbg,#fe8019
! states: background, border
rofi.color-window: r_bg,#d5c4a1


rofi.separator-style: solid
rofi.menu_bw: 1
rofi.fake-transparency: false
rofi.opacity: 100
rofi.sidebar-mode: true

rofi.columns: 1
rofi.lines: 20
rofi.location: 0
rofi.padding: 16
rofi.width: 50
rofi.yoffset: 0

rofi.font: "Jetbrains Mono" 12
rofi.fuzzy: true
rofi.modi: window,run,drun


! ###################
! #### xautolock
! ####

Xautolock.corners: 0-0-
Xautolock.locker: i3exit lock
Xautolock.notify: 60
Xautolock.notifier: /usr/bin/notify-send -u low --expire-time=30 "Locking screen in 60 seconds"
Xautolock.time: 30


! ###################
! #### X
! ####

Xcursor.size:   24
Xcursor.theme:  DMZ-White

Xft.dpi: 96
! Xft.dpi: 144
