ATTRS{idVendor}=="0e6a", ATTRS{idProduct}=="030c", OWNER="will"
ACTION=="add", RUN+="/home/will/.dotfiles/bin/udev/keyboard-trulyergonomic-add"
ACTION=="remove", RUN+="/home/will/.dotfiles/bin/udev/keyboard-trulyergonomic-remove"
